<IfModule mod_authz_core.c>
    Require all granted
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
</IfModule>

<Files "*.html">
    Header always set X-Frame-Options "SAMEORIGIN"
    SetEnvIf Referer "^$" no_referer
    Order Deny,Allow
    Deny from env=no_referer
</Files>

RewriteRule .* - [PT,L]
